$primary:#2d2d85;
$light-blue: rgb(105, 105, 228);
$dark: black;
$grey:grey;
$light-grey:#eeeeee;
$dark-grey:#333333;
$success: green;
$white:#ffffff;
$red: rgb(236, 59, 59);
$aqua: rgb(0, 255, 85);
$alice: aliceblue;
$spacing-lg:30px;
$spacing-md:20px;
$spacing-sm:10px;
$flex: flex;
$none: none;
$grid: grid;
$block: block;
$alice2: rgb(208, 211, 214);
$yellow: yellow;
$orange: orange;
$orange1: rgb(157, 255, 0);